.not-found {
    min-height: 75vh;
    position: relative;
}

.not-found::before {
    background-image: url("../../../assets/img/404.jpg");
    background-size: cover;
    content: "";
    filter: grayscale(100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.not-found .row {
    max-width: 100vw;
    position: relative;
}
