button.btn {
    box-shadow: none;
    outline: none;
}

input.form-control, input.form-control:active, input.form-control:focus,
input.form-control.is-invalid, input.form-control.is-invalid:active, input.form-control.is-invalid:focus {
    box-shadow: none;
    outline: none;
}

.btn-login, .btn-login:active, .btn-login:focus {
    background-color: #282c34;
    border-color: #61dafb;
    color: #61dafb;
}

.btn-login:hover {
    background-color: #61dafb;
    border-color: #282c34;
    color: #282c34;
}
