header {
    align-items: center;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 15vh;
}

.header-block {
    cursor: pointer;
}

.link {
    color: #61dafb;
}

.logo {
    filter: invert();
    height: 10vmin;
}
