nav {
    background-color: #282c34;
    min-height: 6vh;
}

.nav-link {
    color: #61dafb;
}

.nav-link.active {
    color: #0a58ca;
}

/* Fix bug Bootstrap */
@media screen and (max-width: 768px) {
    nav {
        margin-top: -1px;
    }
}
