footer {
    align-items: center;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 4vh;
}

.link {
    color: #61dafb;
}
